/* RESET STYLE */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	font: 10/40px arial, sans-serif;
	background: wheat; 
	color: black;
	font-size: 19px;
	transition: background 1s ease, color 1s ease;
}
ol, ul { list-style: none; }

/* Container */
.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    background-color: rgb(231, 123, 46);
    transition: background 1s ease;
    border-radius: 8px;
    overflow: hidden;
}

/* Header & Judul */
.header {
    padding: 15px; 
    padding-bottom: 5px;
    text-align: center;
}

.header .judul {
    font-size: 30px;          
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: wheat;
    font-style: italic;
}

/* Tombol */
#toggleBtn {
    background-color: #29c72f;  
    color: white;               
    padding: 10px 20px;         
    font-size: 16px;            
    border: none;               
    border-radius: 8px;         
    cursor: pointer;            
    transition: background-color 0.3s, transform 0.2s;
    margin: 10px 0;
}

#toggleBtn:hover {
    background-color: #45a049;  
    transform: scale(1.05);
}

/* Slideshow slogan */
ul.slogan {
    color: wheat;
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
    font-size: 20px;
}

ul.slogan li.slide {
    display: none;
    font-size: 20px;
    color: wheat;
    font-weight: bold;
    font-style: italic;
}

ul.slogan li.slide.active {
    display: block;
}

/* Banner */
.banner {
    width: 100%;
    height: 300px;
    background-image: url("https://picsum.photos/900/300?random=1"); /* contoh gambar */
    background-size: cover;
    background-position: center;
    border-top: 10px solid rgb(23, 219, 23);
    border-bottom: 10px solid rgb(11, 227, 11);
    transition: background-image 0.5s ease-in-out, height 0.5s ease;
}

/* Map */
#map {
    height: 400px;
    width: 100%;
    display: none; /* hidden awal */
    margin-top: 10px;
    border-radius: 8px;
}

/* Content */
.content {
    padding: 15px;
}
.content h2 {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

/* Footer */
.footer {
    background-color: rgb(23, 219, 23);
    padding: 10px;
}
.footer .copy {
    color: #f9fbe7;
    text-align: center;
    font-size: 16px;
}
